<!--Head style dan scrip-->
@{
    ViewBag.Title = "Welcome ! - Sedayu Corp";
}
@section CustomStylesVendor{
    <link rel="stylesheet" href="~/Content/assets/vendor/libs/form-validation/form-validation.css" />
}
@section CustomStylesPages{
    <link rel="stylesheet" href="~/Content/assets/vendor/css/pages/page-auth.css" />
}
<!--Head style dan scrip-->

<div class="authentication-wrapper authentication-cover">
    <!-- Logo -->
    <a href="#" class="auth-cover-brand d-flex align-items-center gap-3">
        <span class="app-brand-text demo text-heading fw-semibold">Sedayu Corp</span>
    </a>
    <!-- /Logo -->
    <div class="authentication-inner row m-0">
        <!-- /Left Section -->
        <div class="d-none d-lg-flex col-lg-7 col-xl-8 align-items-center justify-content-center p-12 pb-2">
            <div>
                <img src="~/Content/assets/img/illustrations/auth-cover-login-illustration-light.png"
                     class="authentication-image-model d-none d-lg-block"
                     alt="auth-model" />
            </div>
            <img src="~/Content/assets/img/illustrations/tree.png" alt="tree" class="authentication-image-tree z-n1" />
            <img src="~/Content/assets/img/illustrations/auth-cover-mask-light.png"
                 class="scaleX-n1-rtl authentication-image d-none d-lg-block w-75"
                 alt="triangle-bg" />
        </div>
        <!-- /Left Section -->
        <!-- Login -->
        <div class="d-flex col-12 col-lg-5 col-xl-4 align-items-center authentication-bg position-relative py-sm-5 px-12 py-4">
            <div class="w-px-400 mx-auto pt-5 pt-lg-0">
                <h5 class="mb-1 fw-semibold">Welcome to Sedayu Corp One Gate</h5>
                <p class="mb-5">Please sign-in to your account and start !</p>
                <form id="formAuthentication" class="mb-5" action="/Auth/AccountLoginApp" method="POST">
                    <div class="form-floating form-floating-outline mb-5">
                        <input type="text"
                               class="form-control"
                               id="email"
                               name="Username"
                               placeholder="Enter your email or username"
                               autofocus />
                        <label for="email">Username</label>
                    </div>
                    <div class="mb-5">
                        <div class="form-password-toggle">
                            <div class="input-group input-group-merge">
                                <div class="form-floating form-floating-outline">
                                    <input type="password"
                                           id="password"
                                           class="form-control"
                                           name="Password"
                                           placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                           aria-describedby="password" />
                                    <label for="password">Password</label>
                                </div>
                                <span class="input-group-text cursor-pointer"><i class="ri-eye-off-line ri-20px"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-5 d-flex justify-content-between flex-wrap py-2">
                        <div class="form-check mb-0">
                            <input class="form-check-input" type="checkbox" id="remember-me" />
                            <label class="form-check-label me-2" for="remember-me"> Remember Me </label>
                        </div>
                        <a href="auth-forgot-password-cover.html" class="float-end mb-1">
                            <span>Forgot Password?</span>
                        </a>
                    </div>
                    <button type="submit" class="btn btn-primary d-grid w-100">Login</button>
                </form>
                <p class="text-center text-danger fw-semibold">
                    @ViewBag.Error
                </p>
                <p></p>
            </div>
        </div>
        <!-- /Login -->
    </div>
</div>
@section CustomScriptsVendor {
    <script src="~/Content/assets/vendor/libs/form-validation/popular.js"></script>
    <script src="~/Content/assets/vendor/libs/form-validation/bootstrap5.js"></script>
    <script src="~/Content/assets/vendor/libs/form-validation/auto-focus.js"></script>

}
@section CustomScriptsPage{
    <script src="~/Content/assets/js/pages-auth.js"></script>
}

